@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Prof. Ganderson Fan Club";
}


    <h1>Prof. Ganderson Fan Club</h1>

    <p>Prof. anderson (a.k.a. "Prof. Ganderson") is a Professor in the Information Systems department at BYU</p>
    <br />
    <img src="img/photo.jpeg" />
    <p>Pop Quiz: We love him because:</p>
    <ul>
        <li>The flowing locks he had when he was younger</li>
        <li>He can pound a pound of bacon</li>
        <li>His exams are so easy</li>
        <li>He is just an aesome person who cares about everybody around him</li>
        <li>All of the above</li>
    </ul>




